@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url('Assets/Images/Sprinkle.svg');
    background-position: center;
    background-size: cover;
}

.todo_box::-webkit-scrollbar {
    background-color: #1C538E !important;
    border-radius: 10px;
    width: 0px;
}

body .todo_box {
    background-color: #1C538E;
    /* max-width: 500px; */
    width: 500px;
    border-radius: 10px;
    max-height: 500px;
    overflow-x: hidden;
}
body .form-control {
    background-color: transparent !important;
    border-color: #6C63FF !important;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    color: white !important;
}

body .form-check-input {
    background-color: #1C538E !important;
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
}

body .todo_box .added_reminders {
    background-color: #6C63FF;
    border-radius: 10px;
    margin-bottom: 15px;
}

body .todo_box .added_reminders .btn-primary {
    background-color: #1C538E;
    border-radius: 50px;
    padding: 0%;
    height: 40px;
    width: 40px;
    top: -10px;
    right: -10px;
    box-shadow: none !important;
    border-width: 2px;
    border-color: #6C63FF !important;
}